# Probability 
In a single toss of  fair (evenly-weighted) six-sided dice, find the probability that their sum will be at most 9.

In [9]:
import pandas as pd
import numpy as np

In [76]:
die1 = [1,2,3,4,5,6] 
die2 = [1,2,3,4,5,6]

df2 = pd.DataFrame(columns = ['x1','x2']) # make a dataframe with column for each die
for i in range(0,len(die1)):
    for j in range(0,len(die2)):
        var1 = int(die1[i]) # loop through each row in die 1 this will be 1 for 6 values of j
        var2 = int(die2[j]) # while in each value of i loop through all values of j to get each combination of i,j values
        df2 = df2.append({'x1':var1,'x2':var2}, ignore_index=True)

In [77]:
df2

   x1 x2
0   1  1
1   1  2
2   1  3
3   1  4
4   1  5
5   1  6
6   2  1
7   2  2
8   2  3
9   2  4
10  2  5
11  2  6
12  3  1
13  3  2
14  3  3
15  3  4
16  3  5
17  3  6
18  4  1
19  4  2
20  4  3
21  4  4
22  4  5
23  4  6
24  5  1
25  5  2
26  5  3
27  5  4
28  5  5
29  5  6
30  6  1
31  6  2
32  6  3
33  6  4
34  6  5
35  6  6

In [78]:
df2['sum'] = df2['x1'] + df2['x2']
df2

   x1 x2 sum
0   1  1   2
1   1  2   3
2   1  3   4
3   1  4   5
4   1  5   6
5   1  6   7
6   2  1   3
7   2  2   4
8   2  3   5
9   2  4   6
10  2  5   7
11  2  6   8
12  3  1   4
13  3  2   5
14  3  3   6
15  3  4   7
16  3  5   8
17  3  6   9
18  4  1   5
19  4  2   6
20  4  3   7
21  4  4   8
22  4  5   9
23  4  6  10
24  5  1   6
25  5  2   7
26  5  3   8
27  5  4   9
28  5  5  10
29  5  6  11
30  6  1   7
31  6  2   8
32  6  3   9
33  6  4  10
34  6  5  11
35  6  6  12

In [88]:
a = df2.loc[df2['sum'] > 9,'sum'].count()/df2['sum'].count()
a = round(a,3)
a

0.167

In [90]:
die1 = [1,2,3,4,5,6] 
die2 = [1,2,3,4,5,6]

# probability that the sum greater than a certain number with two six sided die
def probability_of_roll_gt(value_gt):
    df2 = pd.DataFrame(columns = ['x1','x2']) # make a dataframe with column for each die
    for i in range(0,len(die1)):
        for j in range(0,len(die2)):
            var1 = int(die1[i]) # loop through each row in die 1 this will be 1 for 6 values of j
            var2 = int(die2[j]) # while in each value of i loop through all values of j to get each combination of i,j values
            df2 = df2.append({'x1':var1,'x2':var2}, ignore_index=True)
    df2['sum'] = df2['x1'] + df2['x2']
    a = df2.loc[df2['sum'] > value_gt,'sum'].count()/df2['sum'].count()
    a = round(a,3)
    return a

In [94]:
probability_of_roll_gt(10)

0.083